<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar/other_navlink.css">
    <link rel="stylesheet" href="/members/members.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <%- include ("./partials/navbar_repeat"); %>
    <h1>
        Members Of The Society
    </h1>
    <main>
        <table>
            <thead>
                <tr>
                    <th>
                        Committee Members Of The Society
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan='3'>
                        Year: 2021
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td data-title='Provider Name'>
                        Iacob Geaorgescu
                    </td>
                    <td data-title='E-mail'>
                        e-mail@test-email.com
                    </td>
                    <td class='select'>
                        <a class='button' href='#'>
                            Select
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class='detail'>
            <div class='detail-container'>
                <dl>
                    <dt>
                        Provider Name
                    </dt>
                    <dd>
                        John Doe
                    </dd>
                    <dt>
                        E-mail
                    </dt>
                    <dd>
                        email@example.com
                    </dd>
                    <dt>
                        City
                    </dt>
                    <dd>
                        Detroit
                    </dd>
                    <dt>
                        Phone-Number
                    </dt>
                    <dd>
                        555-555-5555
                    </dd>
                    <dt>
                        Last Update
                    </dt>
                    <dd>
                        Jun 20 2014
                    </dd>
                    <dt>
                        Notes
                    </dt>
                    <dd>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam
                        malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </dd>
                </dl>
            </div>
            <div class='detail-nav'>
                <button class='close'>
                    Close
                </button>
            </div>
        </div>
    </main>
    <script src="/members/members.js"></script>
</body>

</html>